@page "/Page3"

@attribute [Authorize]

<h3>Page3</h3>



@code {
    public string MyText { get; set; }
    protected override void OnInitialized()
    {
        MyText = "Hello Za Warudo";
    }




}
